.dice {
  border: 4px black;
  border-style:groove;
  height: 200px;
  width: 120px;
  padding: 30px;
}
.log{
  display:flex;
  flex-wrap:wrap;
  border: 4px black;
  border-style:groove;
  height: 200px;
  width: 120px;
  padding: 30px;
  padding-left: 30px;
}
