.Container {
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
}

.OrderContainer {
  display: flex;
  flex-flow: column wrap;
}

.MenuContainer {
  display: flex;
  flex-direction: column;
}